<script setup lang="ts">
import { ref, computed } from "vue";
import type { IProduct } from "@/interfaces";
import { useCartStore } from "@/stores";
import { checkChangePrice } from "@/functions";
import Input from "@/components/UI/Input.vue";
import Button from "@/components/UI/Button.vue";

const props = defineProps<{
	propData: IProduct;
}>();

const amount = ref(1);

const classComputed = computed(() => checkChangePrice(props.propData));

const onChangeStock = (value: number) => {
	amount.value = value;
	useCartStore().calcTotalSum(props.propData.id, amount.value);
};

const onDeleteProduct = () => {
	useCartStore().cart.delete(props.propData);
	useCartStore().calcTotalSum(props.propData.id, amount.value);
};
</script>

<template lang="pug">
.cart-item
	.cart-item__col.cart-item__name {{propData.name}}
	.cart-item__col
		Input(
			:max="propData.stock"
			@onInput="onChangeStock")
	.cart-item__col.cart-item__price(:class="classComputed") {{`${propData.getPriceRub() * amount} ₽`}}
	.cart-item__col
		Button.cart-item__btn(@click="onDeleteProduct") Удалить
</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.cart-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&:not(:last-child) {
		border-bottom: 1px solid $color-grey;
	}

	&__col {
		padding: $layout-padding;
		width: 15%;
	}

	&__name {
		width: 55%;
	}

	&__price {
		padding-left: $layout-padding * 1.5;
		font-weight: 600;
	}

	&__btn {
		width: 100%;
	}
}
</style>
