<script setup lang="ts">
import { useCartStore } from "@/stores";
import CartItem from "./CartItem.vue";
</script>

<template lang="pug">
.cart(ref="cart")
	CartItem(
		v-for="item in useCartStore().cart"
		:key="item.id"
		:propData="item")
	.cart__total Общая стоимость
		span {{useCartStore().totalSum}} ₽

</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.cart {
	border: 1px solid $color-grey;

	&__total {
		padding: $layout-padding;
		text-align: right;
		font-weight: 600;

		span {
			padding-left: $layout-padding;
			color: $color-pink;
		}
	}
}
</style>
