<script setup lang="ts">
import { useCatalogStore } from "@/stores";
import CatalogItem from "./CatalogItem.vue";

const catalogStore = useCatalogStore();
catalogStore.getCatalog();

//Используем Web Worker вместо setInterval, чтобы работало в неактивной вкладке браузера
const worker = new Worker(
	new URL("./../../workers/timer-counter.js", import.meta.url)
);

worker.postMessage("");
let time = 15000;
worker.onmessage = () => {
	if (!time) {
		time = 15000;
		try {
			catalogStore.getCatalog();
		} catch (e) {
			console.error(e);
		}
	} else {
		time -= 1000;
	}
};
</script>

<template lang="pug">
.catalog
	.catalog__category(
		v-for="(category, index) in catalogStore.catalog"
		:key="index")
		.catalog__category-name {{category.name}}
		CatalogItem(
			v-for="(product, productIndex) in category.products"
			:key="productIndex"
			:propData="product")
</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.catalog {
	&__category {
		margin-bottom: $layout-padding;
		border: 1px solid $color-grey;
	}

	&__category-name {
		padding: $layout-padding;
		font-weight: 600;
		background: $color-grey;
	}
}
</style>
