<script setup lang="ts">
import { computed } from "@vue/reactivity";
import type { IProduct } from "@/interfaces";
import { useCartStore } from "@/stores";
import { checkChangePrice } from "@/functions";
import Button from "@/components/UI/Button.vue";

const props = defineProps<{
	propData: IProduct;
}>();

const classComputed = computed(() => checkChangePrice(props.propData));

const onChangeCart = (product: IProduct) => {
	console.dir(product);
	if (useCartStore().cart.has(product)) {
		useCartStore().cart.delete(product);
	} else {
		useCartStore().cart.add(product);
	}

	useCartStore().calcTotalSum();
};

const btnNameComputed = computed(() => {
	return [...useCartStore().cart].find((item) => item.id === props.propData.id)
		? "Удалить из корзины"
		: "Добавить в корзину";
});
</script>

<template lang="pug">
.catalog-item
	.catalog-item__name {{`${propData.name} (${propData.stock})`}}
	.catalog-item__col
		.catalog-item__price(:class="classComputed") {{`${propData.getPriceRub()} ₽`}}
		Button.catalog-item__btn(@click="onChangeCart(propData)") {{btnNameComputed}}
</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.catalog-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $layout-padding;
	border-bottom: 1px solid $color-grey;

	&:last-child {
		border: none;
	}

	&__col {
		display: flex;
		align-items: center;
	}

	&__price {
		margin-right: $layout-padding;
		padding-left: $layout-padding * 1.5;
		font-weight: 600;
	}

	&__btn {
		width: 191px;
	}
}
</style>
