<script setup lang="ts"></script>

<template lang="pug">
button.button
	slot
</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.button {
	font-weight: 600;
	padding: $layout-padding;
	background: $color-grey;
	cursor: pointer;
}
</style>
