<script setup lang="ts">
import { defineProps, ref } from "vue";

const props = defineProps({
	min: {
		type: Number,
		default: 1,
	},
	max: {
		type: Number,
		required: true,
	},
});

const emit = defineEmits<{
	(e: "onInput", value: number): void;
}>();
const value = ref(props.min);

const onUpdateValue = () => {
	setTimeout(() => {
		value.value = Math.min(Math.max(value.value, props.min), props.max);
	}, 500);

	emit("onInput", value.value);
};
</script>

<template lang="pug">
input.input(
	type="number"
	v-model="value"
	:min="min"
	:max="max"
	@input="onUpdateValue")
</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.input {
	width: 100%;
	padding: $layout-padding;
	border: 1px solid $color-grey;
	color: $color-text;
}
</style>
