<script setup lang="ts">
import ExchangeRates from "@/components/ExchangeRates/ExchangeRates.vue";
import Catalog from "./components/Catalog/Catalog.vue";
import Cart from "@/components/Cart/Cart.vue";
</script>

<template lang="pug">
.layout
	article.layout__aritcle
		h2 Курс валют
		ExchangeRates
	article.layout__aritcle
		h2 Каталог
		Catalog
	article.layout__aritcle
		h2 Корзина
		Cart
</template>

<style lang="scss">
@import "@/assets/scss/main.scss";

.layout {
	&__aritcle {
		margin-bottom: $layout-padding * 2;
	}
}
</style>
