<script setup lang="ts">
import { ref } from "vue";
import { useExchangeRatesStore, useCartStore } from "@/stores";
import Input from "@/components/UI/Input.vue";
import Button from "@/components/UI/Button.vue";

const amount = ref(20);

const onInputCurrency = (value: number) => {
	amount.value = value;
};

const notice = ref("");
const onChangeCurrency = () => {
	useExchangeRatesStore().usd.old = useExchangeRatesStore().usd.current;
	useExchangeRatesStore().usd.current = amount.value;

	if (useExchangeRatesStore().usd.current > useExchangeRatesStore().usd.old) {
		notice.value = "Курс доллара повысился!";
	} else if (useExchangeRatesStore().usd.current < useExchangeRatesStore().usd.old) {
		notice.value = "Курс доллара понизился!";
	} else {
		notice.value = "";
	}

	useCartStore().calcTotalSum();
};
</script>

<template lang="pug">
.exchange-rates
	Input.exchange-rates__input(
		:min="20"
		:max="80"
		@onInput="onInputCurrency")
	Button.exchange-rates__btn(@click="onChangeCurrency") Изменить курс доллара
	.exchange-rates__notice {{notice}}
</template>

<style lang="scss">
@import "@/assets/scss/variables.scss";

.exchange-rates {
	display: flex;
	align-items: center;

	&__input {
		width: 100px;
		margin-right: $layout-padding;
	}

	&__btn {
		margin-right: $layout-padding;
	}

	&__notice {
		font-weight: 600;
	}
}
</style>
