* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	&::before,
	&::after {
		box-sizing: border-box;
		margin: 0;
		font-family: inherit;
	}
}
