body {
	font-family: "Arial";
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: $color-text;
}

h2 {
	margin-bottom: $layout-padding;
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
}

.price-down {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -3px;
		border: 5px solid transparent;
		border-top: 6px solid $color-green;
	}
}

.price-up {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -9px;
		border: 5px solid transparent;
		border-bottom: 6px solid $color-pink;
	}
}
